$primary: skyblue;
$direction: left;
$colors: red, orange, yellow, green, blue, purple;

@for $i from 1 through length($colors) {
  .box:nth-child(#{length($colors)}n + #{$i}) {
    $rgb: lighten(nth($colors, $i), 20%);
    background: $rgb;
    color: rgb(255, 255, 255) - $rgb;
  }
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  .box {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    // margin: 10px;
    // background-color: $primary;
    border-#{$direction}: 1px solid #000;
    border-top-#{$direction}-radius: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
  }
}
